<template>
    <q-layout view="hHh lpR fFf">

        <q-header elevated class="bg-primary text-white">
            <q-toolbar>
                <q-toolbar-title>
                    Converter
                </q-toolbar-title>
                <AuthNav :user="user" class="q-ml-auto"></AuthNav>
            </q-toolbar>
        </q-header>

        <q-page-container>
            <q-page class="q-pa-md">
                <slot/>
            </q-page>
        </q-page-container>
    </q-layout>
</template>

<script setup>
import AuthNav from './AuthNav.vue';
const props = defineProps(['user'])
</script>
