<template>
    <div class="q-ml-auto">
        <div v-if="user" class="flex items-center">
            <div class="q-mr-md">{{ user.email }}</div>
            <q-btn
                flat
                round
                color="white"
                @click="form.post('/logout')"
                icon="sym_o_exit_to_app">
            </q-btn>
        </div>
        <div v-else>
            <q-btn
                flat
                color="white"
                @click="router.visit('/login')">
                Ingresar
            </q-btn>
        </div>
    </div>
</template>

<script setup>
import {router, useForm} from '@inertiajs/vue3'
const props = defineProps(['user'])
const form = useForm({})
</script>
