<template>
    <q-card class="q-mb-md">
        <q-card-section>
            <div class="row q-col-gutter-md">
                <div class="col-12 col-md-4">
                    <q-input
                        outlined
                        stack-label
                        label="Monto"
                        v-model="form.amount">
                    </q-input>
                </div>
                <div class="col-12 col-md-4">
                    <q-select
                        @filter="filterFn"
                        use-input
                        fill-input
                        hide-selected
                        option-label="label"
                        :options="selectOptions"
                        stack-label
                        label="Seleccione moneda"
                        outlined
                        v-model="form.from">
                    </q-select>
                </div>
                <div class="col-12 col-md-4">
                    <q-select
                        @filter="filterFn"
                        use-input
                        fill-input
                        hide-selected
                        option-label="label"
                        :options="selectOptions"
                        stack-label
                        label="Seleccione moneda"
                        outlined
                        v-model="form.to">
                    </q-select>
                </div>
            </div>
        </q-card-section>
        <q-card-actions>
            <q-btn :loading="form.processing" class="q-ml-auto" color="primary" @click="convert">Convertir</q-btn>
        </q-card-actions>
    </q-card>

    <q-card v-if="result">
        <q-card-section>
            <div>
                {{ result.amount }} {{ currencies[result.from].value }} =
            </div>
            <div class="text-h4 font-weight-regular">
                {{ result.output }} {{ currencies[result.to].label }}
            </div>
        </q-card-section>
    </q-card>
</template>

<script setup>
import { ref } from 'vue'
import { useForm } from '@inertiajs/vue3'

const props = defineProps(['currencies', 'result'])

const options = ref(Object.values(props.currencies))
const selectOptions = ref([...options.value])

const form = useForm({
    amount: 1,
    from: {label: 'USD United States Dollar', value: 'USD'},
    to: {label: 'EUR Euro', value: 'EUR'},
})

function filterFn(val, update){
    if (val === '') {
        update(() => {selectOptions.value = [...options.value]})
        return
    }

    update(() => {
        const needle = val.toLowerCase()
        selectOptions.value = options.value.filter(v => v.label.toLowerCase().indexOf(needle) > -1)
    })
}

function convert() {
    form
    .transform(data=>({
        ...data,
        from: data.from.value,
        to: data.to.value,
    }))
    .get('/convert', {
        preserveState: true,
        only: ['result']
    })
}
</script>
