<script setup>
import { computed } from 'vue'

const props = defineProps({ status: Number })

const title = computed(() => {
  return {
    503: '503: Service Unavailable',
    500: '500: Server Error',
    404: '404: Page Not Found',
    403: '403: Forbidden',
    429: 'Oops!',
  }[props.status]
})

const description = computed(() => {
  return {
    503: 'Sorry, we are doing some maintenance. Please check back soon.',
    500: 'Whoops, something went wrong on our servers.',
    404: 'Sorry, the page you are looking for could not be found.',
    403: 'Sorry, you are forbidden from accessing this page.',
    429: 'Parece que ha alcanzado el limite de 5 solicitudes diarias para usuarios no registrados',
  }[props.status]
})
</script>

<template>
  <div class="text-center">
    <H1>{{ title }}</H1>
    <div>{{ description }}</div>
    <q-btn v-if="status == '429'" flat color="primary" href="/login">Ingresar</q-btn>
  </div>
</template>
