<template>
    <div class="row q-mt-md">
        <div class="col-12 col-md-4 q-mx-auto">
            <q-card>
                <q-card-section>
                    <div class="text-h6 text-weight-regular">Converter Dashboard</div>
                </q-card-section>
                <q-card-section class="q-gutter-y-md">
                    <q-input
                        outlined
                        stack-label
                        v-model="form.email"
                        label="Email"
                        :error="Boolean(form.errors.email)"
                        :error-message="form.errors.email ? form.errors.email[0] : ''"
                        >
                    </q-input>
                    <q-input
                        outlined
                        stack-label
                        type="password"
                        v-model="form.password"
                        label="Contraseña"
                        :error="Boolean(form.errors.password)"
                        :error-message="form.errors.password ? form.errors.password[0] : ''">
                    </q-input>
                </q-card-section>
                <q-card-actions>
                    <q-btn flat :loading="form.processing" color="primary" @click="login" class="q-ml-auto">
                        Enviar
                    </q-btn>
                </q-card-actions>
            </q-card>
        </div>
    </div>
</template>

<script setup>
import {useForm} from '@inertiajs/vue3'

const form = useForm({
    email: '',
    password: '',
})

function login() {
    form.post('/login')
}
</script>


