<template>
    <q-table
        title="Api Requests Log"
        :rows="logs"
        :columns="columns">
    </q-table>
</template>

<script setup>
const props = defineProps(['logs'])
const columns = [
    {field: 'created_at', label: 'date', align: 'left', sortable: true},
    {field: 'method', label: 'method', align: 'left', sortable: true},
    {field: 'url', label: 'endpoint', align: 'left', sortable: false},
    {field: 'client_ip', label: 'client ip', align: 'left', sortable: false},
]
</script>
