<template>
    <div class="text-center">
        <h1>Oops!</h1>
        <p>Parece que ha excedido su limite diario de 5 solicitudes<br> para usuarios no registrados</p>
        <q-btn flat color="primary" to="/register">¡Registrese ahora!</q-btn>
    </div>
</template>

<script setup></script>
