<template>
    <div class="row q-mt-md">
        <div class="col-12 col-md-4 q-mx-auto">
            <q-card>
                <q-card-section>
                    <div class="text-h6 text-weight-regular">Converter Dashboard</div>
                </q-card-section>
                <q-card-section class="q-gutter-y-md">
                    <q-input
                        outlined
                        stack-label
                        v-model="name"
                        label="Name"
                        :error="Boolean(errors.name)"
                        :error-message="errors.name ? errors.name[0] : ''"
                        >
                    </q-input>
                    <q-input
                        outlined
                        stack-label
                        v-model="email"
                        label="Email"
                        :error="Boolean(errors.email)"
                        :error-message="errors.email ? errors.email[0] : ''"
                        >
                    </q-input>
                    <q-input
                        outlined
                        stack-label
                        type="password"
                        v-model="password"
                        label="Contraseña"
                        :error="Boolean(errors.password)"
                        :error-message="errors.password ? errors.password[0] : ''"
                        >
                    </q-input>
                    <q-input
                        outlined
                        stack-label
                        type="password"
                        v-model="password_confirmation"
                        label="Contraseña"
                        :error="Boolean(errors['password_confirmation'])"
                        :error-message="errors['password_confirmation'] ? errors['password_confirmation'][0] : ''"
                        >
                    </q-input>
                </q-card-section>
                <q-card-actions>
                    <span>¿Ya tiene una cuenta? <a href="/login">Ingresese ahora</a></span>
                    <q-btn flat :loading="loading" color="primary" @click="register" class="q-ml-auto">
                        Enviar
                    </q-btn>
                </q-card-actions>
            </q-card>
        </div>
    </div>
</template>

<script setup>
import { ref } from 'vue'
import {useRouter} from 'vue-router'

const router = useRouter()

const errors   = ref({})
const loading  = ref(false)
const name     = ref('')
const email    = ref('')
const password = ref('')
const password_confirmation = ref('')

function register() {
    loading.value = true
    let data = {
        name: name.value,
        email: email.value,
        password: password.value,
        password_confirmation: password_confirmation.value,
    }
    axios.post('http://localhost:8000/register', data)
    .then(response => {
        if( response.status == '201' ){
            router.push('/login')
        }
    })
    .catch(error => {
        if( error.response.status == '422' ){
            errors.value = error.response.data.errors
        }
    })
    .finally(()=>loading.value = false)
}
</script>
